version: '3.8'
services:
  user-service:
    image: user-service:1.0.0
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      - JAVA_OPTS=-Xms256m -Xmx512m
    network_mode: host
    restart: always  # 容器异常退出自动重启

  order-service:
    image: order-service:1.0.0
    container_name: order-service
    ports:
      - "8082:8082"
    environment:
      - JAVA_OPTS=-Xms256m -Xmx512m
    network_mode: host
    restart: always
    depends_on:
      - user-service  # 先启动user-service再启动order-service