spring:
  cloud:
    nacos:
      discovery:
        timeout: 10000  # 增加注册超时配置（核心：解决STARTING状态问题）
        ephemeral: false   # 关闭EPHEMERAL（临时实例），避免注册失败
logging:
  level:
    com.learn.user.mapper: debug