logging:
  level:
    # org.springframework.cloud.gateway: INFO  # 打印网关转发日志
    org.springframework.cloud: INFO
    org.springframework.web.reactive: INFO   # 打印WebFlux请求日志
    com.alibaba.nacos.client.naming: INFO    # 打印Nacos服务发现日志
    com.alibaba.nacos.client.config.impl.ClientWorker: WARN  # 精准关闭 ClientWorker 的 INFO 日志（核心配置）
    com.alibaba.nacos: INFO
    com.learn.user.mapper: INFO