# application.yml（业务配置）
# server:
#   port: 8082
# spring:
#   datasource:
#     driver-class-name: com.mysql.cj.jdbc.Driver
#     url: jdbc:mysql://192.168.1.33:3306/learn_springcloud?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
#     username: root
#     password: 123456
# mybatis-plus:
#   mapper-locations: classpath:mapper/*.xml
#   type-aliases-package: com.learn.order.entity
#   configuration:
#     map-underscore-to-camel-case: true
#     log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
# # Sentinel配置
# spring:
#   cloud:
#     sentinel:
#       transport:
#         dashboard: 192.168.1.33:8858
#         port: 8719 # 与Gateway/OrderService端口区分
###################################################################################
####### 配置到Nocas config中去了 order-service.yml
logging:
  level:
    com.learn.order.mapper: debug  # 确认mapper包路径正确