server: # 服务器配置
  port: 8084   # 端口区别于order-service的8082，避免冲突

spring:
  application:
    name: storage-service
  config:
    import:
      - optional:nacos:${spring.application.name}.yml  # 加载 storage-service.yml
      - optional:nacos:common-config.yml               # 可选：加载公共配置
  cloud:
    nacos:
      server-addr: 192.168.1.33:8848
      config:
        file-extension: yml  # 配置文件格式
        namespace: public   # 命名空间（默认public）
        group: DEFAULT_GROUP # 分组（默认）
      discovery:  # Nacos服务发现配置（原有，可保留）
        namespace: public  # 命名空间（和配置中心一致，可选）
  # Sentinel配置
  sentinel:  
    transport:
      dashboard: 192.168.1.33:8858
      port: 8722 # 与Gateway/OrderService端口区分
  # 数据库配置
  datasource:  
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.1.33:3306/learn_springcloud?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

# Seata 配置（使用 SCA 2021.0.5.0 内置的 1.5.2）
seata:
  tx-service-group: default_tx_group  # 事务组名（必须和Seata Server一致）
  service:
    vgroup-mapping:
      default_tx_group: default # 事务组映射（固定写法）
  registry:
    type: nacos  # 从Nacos找Seata Server
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
      # namespace: ${spring.cloud.nacos.config.namespace}
      namespace: ""
      group: DEFAULT_GROUP
  config:
    type: nacos
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
      namespace: ""
      group: SEATA_GROUP

# MyBatis-Plus配置
mybatis-plus: 
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.learn.storage.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.learn.storage.mapper: debug  # 确认mapper包路径正确